*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  background: url('@/assets/img/main-bg.png');
  background-size: cover;
  height: 100vh;
  font-family: Satoshi-variable, sans-serif;
  overflow: hidden;
}

@media (max-width: 768px) {
  #app {
    height: unset;
    background: none;
  }
}
